# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.mod
*.pbs
*.pbs.*
modules/*/*/*.pyc
modules/trash/*
script/test/dask-worker-space/*
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

## Images

*.gif
*.tiff
