# SPDX-FileCopyrightText: 2025 Mercator Ocean International <https://www.mercator-ocean.eu/>
#
# SPDX-License-Identifier: EUPL-1.2

/.quarto/
/_site/
# /_result_tables/
/index_files/
/reports/

**/*.quarto_ipynb
