/*
 * SPDX-FileCopyrightText: 2025 Mercator Ocean International <https://www.mercator-ocean.eu/>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

table.model-names {
  width: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row .variables {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.row .variables table {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

tfoot tr td {
  font-size: small;
}

.navbar-logo {
  height: 50px !important;
  max-height: none !important;
  width: auto !important;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: -10px !important;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-height: 55px !important;
}

body.quarto-dark img[src*="analysis-track"],
body.quarto-dark img[src*="observations-track"],
body.quarto-dark img[src*="reanalysis-track"] {
  filter: invert(1) hue-rotate(180deg);
}

body.quarto-dark .navbar-logo {
  content: url('https://minio.dive.edito.eu/project-oceanbench/public/logo/favicon-dark.png');
}

body.quarto-light .navbar-logo {
  content: url('https://minio.dive.edito.eu/project-oceanbench/public/logo/favicon-light.png');
}

body.quarto-light .only-dark {
  display: none !important;
}

body.quarto-dark .only-light {
  display: none !important;
}
