/*
 * SPDX-FileCopyrightText: 2025 Mercator Ocean International <https://www.mercator-ocean.eu/>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

$primary: #3aa6d3;
$body-bg: #1a1a2e;

table.model-names {
  background-color: #181818 !important;
}

table {
  border: 1px solid #375a7f !important;
}

/*-- scss:rules --*/

.navbar {
  background-color: #16213e !important;
}

body {
  background-color: #1a1a2e !important;
}
