/*
 * SPDX-FileCopyrightText: 2025 Mercator Ocean International <https://www.mercator-ocean.eu/>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

/*-- scss:defaults --*/

$primary: #046293;
$body-bg: #fafaf7;
$body-color: #333940;

table.model-names {
  background-color: #f5f5f5 !important;
}

table {
  border: 1px solid #2c3e50 !important;
}
