/*
 * SPDX-FileCopyrightText: 2025 Mercator Ocean International <https://www.mercator-ocean.eu/>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

$primary: #3aa6d3;
$link-color: $primary;
$body-bg: #1a1a2e;
$body-color: #d4d4d8;

/*-- scss:rules --*/

.navbar {
  background-color: #16213e !important;
}

body {
  background-color: #1a1a2e !important;
}
