/*
 * SPDX-FileCopyrightText: 2025 Mercator Ocean International <https://www.mercator-ocean.eu/>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

/*-- scss:defaults --*/

$primary: #046293;
$link-color: $primary;
$body-bg: #fafaf7;
$body-color: #333940;
